---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
---

<script src="@/scripts/candidatos.js"></script>

<Layout title="Candidatos">
  <Header/>
  <div class="bg-[#dcdcdc]">
    <div class="grid grid-cols-1 md:grid-cols-2 pt-28 fuente1 text-center text-sm h-screen">
      <div id="map" class="md:order-1 h-[60vh] md:w-full md:h-[80vh] mb-2 md:left-[2vw] flex justify-center items-center"> CARGANDO MAPA, ESPERE ... </div>
      <div class="flex justify-center md:order-2">
        <div class="w-[50vw] md:w-[25vw] md:mt-[30vh]">
          <p class="text-sm md:text-lg mb-4">Ubicación automática o arrastra para consultar otras ubicaciones</p>
          <a href="/candidatosCatalogo" class="bg-red-600 p-2 rounded-lg text-white text-[10px] md:text-lg">CONSULTAR MIS CANDIDATOS</a>
        </div>
      </div>
    </div>
  </div>
</Layout>

