---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
---


<Layout title="Conóceme">
    <Header/>
    <div class="pt-24 bg-[#dcdcdc]">
        <div class="h-screen place-content-center flex bg-[url('/RZB_CamisaRojablur.webp')] md:bg-bottom md:bg-contain bg-cover bg-center bg-no-repeat">
            <div class="flex flex-wrap justify-center items-center">
                <div class="w-1/2 h-1/2">
                    <img src="/Globo2.webp" class="max-h-[80%] m-auto hover:scale-110  transition-all duration-200 cursor-pointer"/>
                </div>
                <div class="w-1/2 h-1/2">
                    <img src="/Globo1.webp" class="max-h-[80%] m-auto hover:scale-110  transition-all duration-200 cursor-pointer"/>
                </div>
                <div class="w-1/2 h-1/2">
                    <img src="/Globo3.webp" class="max-h-[80%] m-auto hover:scale-110  transition-all duration-200 cursor-pointer"/>
                </div>
                <div class="w-1/2 h-1/2">
                    <img src="/Globo4.webp" class="max-h-[80%] m-auto hover:scale-110  transition-all duration-200 cursor-pointer"/>
                </div>
            </div>
        </div>
    </div>
</Layout>