---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
---


<Layout title="Informando">
    <Header/>
    <div class="bg-[#dcdcdc] w-full md:h-screen">
        <div class="place-content-center flex md:bg-bottom md: md:bg-contain bg-cover bg-center bg-no-repeat">
            <div class="flex flex-wrap justify-center items-center mt-[100px] xl:mt-[160px]">
                    <embed src="/pdfs/RZB_Periodico.pdf" width="350" height="550" type="application/pdf" style="margin: 8px;">
                    <embed src="/pdfs/RZB_Periodico_Interior.pdf" width="350" height="550" type="application/pdf" style="margin: 8px;">
            </div>
        </div>
    </div>
</Layout>