---
import Layout from "@/layouts/Layout.astro";
---

<script src="@/scripts/mapav3.js"></script>

<style>
  body {
    background: white;
  }
</style>

<Layout title="mapa Canul">
  <div class="w-full h-screen" id="map"></div>
</Layout>

