---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";

let km = "32,500"
let visitados = "98"
---

<script src="@/scripts/mapa.js"></script>

<style>
  body {
    background: white;
  }
</style>

<Layout title="mapa">
  <Header/>
  <div class="bg-[#dcdcdc]">
    <div class=" pt-28 fuente2 text-center text-lg">Municipios Visitados</div>
    <div class="fuente2 text-center text-lg"> Municipios Visitados: <b style="font-weight: 700;">{visitados}</b></div>
    <div class="fuente2 text-center text-lg"> Kilómetros recorridos: <b style="font-weight: 700;">{km}</b></div>
    <div class="left-[1vw] w-[98vw] md:w-[80vw] md:left-[10vw] h-screen justify-center rounded-xl" id="map"></div>
  </div>
</Layout>

