---
import Layout from "@/layouts/Layout.astro";
---

<script src="@/scripts/mapav2.js"></script>

<style>
  body {
    background: white;
  }
</style>

<Layout title="mapa">
  <div class="w-full h-screen" id="map"></div>
</Layout>

