---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";

let km = "32,500"
let visitados = "98"
---
<script is:inline>
  ((g) => {
    var h,
      a,
      k,
      p = "The Google Maps JavaScript API",
      c = "google",
      l = "importLibrary",
      q = "__ib__",
      m = document,
      b = window;
    b = b[c] || (b[c] = {});
    var d = b.maps || (b.maps = {}),
      r = new Set(),
      e = new URLSearchParams(),
      u = () =>
        h ||
        (h = new Promise(async (f, n) => {
          await (a = m.createElement("script"));
          e.set("libraries", [...r] + "");
          for (k in g)
            e.set(
              k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
              g[k],
            );
          e.set("callback", c + ".maps." + q);
          a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
          d[q] = f;
          a.onerror = () => (h = n(Error(p + " could not load.")));
          a.nonce = m.querySelector("script[nonce]")?.nonce || "";
          m.head.append(a);
        }));
    d[l]
      ? console.warn(p + " only loads once. Ignoring:", g)
      : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
  })({
    key: "AIzaSyDQkA8ZbqUxkeWuI4U3JFylnBhY5JZDViA",
    // Add other bootstrap parameters as needed, using camel case.
    // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
  });
</script>

<script src="@/scripts/mapa.js"></script>

<style>
  body {
    background: white;
  }
</style>

<Layout title="mapa">
  <Header/>
  <div class="bg-[#dcdcdc]">
    <div class=" pt-28 fuente2 text-center text-lg">Municipios Visitados</div>
    <div class="fuente2 text-center text-lg"> Municipios Visitados: <b style="font-weight: 700;">{visitados}</b></div>
    <div class="fuente2 text-center text-lg"> Kilómetros recorridos: <b style="font-weight: 700;">{km}</b></div>
    <div class="left-[1vw] w-[98vw] md:w-[80vw] md:left-[10vw] h-screen justify-center rounded-xl" id="map"></div>
  </div>
</Layout>

