---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";

---

<style>
    body{
        background-color: #dcdcdc;
    }
    .fotorolopropu{
        mask-image: linear-gradient(black 80%,transparent);
    }
</style>

<Layout title="Propuestas">

    <Header />
	<div class="flex flex-row pt-[15vh]">
        <div class="basis-1/3 translate-x-[10vw]"><img class="fotorolopropu" src="/RZBpropuestas.webp" alt="Banner"></div>
        <div class="basis-3/5 translate-x-[-10vw] z-10"><img src="/Las4deRolo.webp" alt="Banner"></div>
	</div>
    <div class="flex flex-row justify-center items-center md:translate-y-[-6vh]">
        <div class="basis-1/3 fuente3 text-right text-lg md:text-3xl">Cuatro <b>propuestas</b> con las que el</div>
        <div class="basis-1/8 text-center"> <img src="/PRI.webp" class="text-center" width="50px" alt="PRI"></div>
        <div class="basis-1/3 fuente 3 text-left text-lg md:text-3xl">hará la <b>diferencia en Yucatán</b></div>
    </div>

    <div class="mt-4 md:mt-0">
        <div class="flex flex-row">
            <div class="basis-1/4">
                <div class="relative"><img src="/propuestasBarra.webp" alt="Banner" class="object-contain">
                    <div class="absolute inset-0 w-[85%] pt-[5%]"><p class="fuente2 text-right text-xl md:text-7xl">01.</p></div>
                </div>
            </div>
            <div class="basis-2/3 px-12 pb-12"><p class="text-justify md:text-3xl"> Se impulsará la creación del <b>Padrón Garante de los Apoyos Nacionales (PAGAN)</b> para que quede garantizado que todos los apoyos que recibes hoy se te paguen de manera permanente, mientras cumplas con los requisitos sociales y demográficos que te dan derecho a ellos, para que nadie te quite apoyos ni te amenace o condicione el voto. Con el <b>PAGAN</b> seguro te pagan. Tendrás todos los apoyos de hoy y aún más mañana.</p></div>
        </div>
        <div class="flex flex-row">
            <div class="basis-1/4">
                <div class="relative"><img src="/propuestasBarra.webp" alt="Banner" class="object-contain">
                    <div class="absolute inset-0 w-[85%] pt-[5%]"><p class="fuente2 text-right text-xl md:text-7xl">02.</p></div>
                </div>
            </div>
            <div class="basis-2/3 px-12 pb-12"><p class="text-justify  md:text-3xl"> Adicionalmente, en Yucatán se va a echar a andar la <b>Credencial de la Salud Universal</b> con la que tendrás derecho a recibir por lo menos 5 consultas y 2 estudios de laboratorio al año en clínicas privadas, si tu clínica pública no te puede atender. <b>Fácil, rápido y directo</b>, todos los hospitales serán para ti y tu salud una realidad.</p></div>
        </div>
        <div class="flex flex-row">
            <div class="basis-1/4">
                <div class="relative"><img src="/propuestasBarra.webp" alt="Banner" class="object-contain">
                    <div class="absolute inset-0 w-[85%] pt-[5%]"><p class="fuente2 text-right text-xl md:text-7xl">03</p></div>
                </div>
            </div>
            <div class="basis-2/3 px-12 pb-12"><p class="text-justify md:text-3xl"> Se impulsará la <b>ley Jóvenes con Aspiraciones</b> para garantizar que a todo estudiante que cumpla con el promedio y pase el examen de admisión y no encuentre cupo en una universidad pública, el gobierno le pague la colegiatura y le asegure un lugar en universidades privadas. Que nadie que tenga capacidad, disciplina y empeño se quede sin <b>educación</b> para abrirse camino en la vida y hacer realidad sus aspiraciones.
            </p></div>
        </div>
        <div class="flex flex-row">
            <div class="basis-1/4">
                <div class="relative"><img src="/propuestasBarra.webp" alt="Banner" class="object-contain">
                    <div class="absolute inset-0 w-[85%] pt-[5%]"><p class="fuente2 text-right text-xl md:text-7xl">04</p></div>
                </div>
            </div>
            <div class="basis-2/3 px-12 pb-12"><p class="text-justify md:text-3xl"> Para el campo se creará el <b>Ingreso Garantizado para Mujeres y Hombres del Campo y el Mar</b>. Todo productor al que por falta de apoyos o insuficiencia no le alcance para un ingreso digno con el valor de su producción, tendrá garantizado un salario mínimo como ingreso en tanto su labor le vuelve a dar los <b>ingresos que necesita</b>.</p></div>
        </div>
	</div>
</Layout>
