<footer class="absolute bg-gray-800 text-white w-full">
    <div class="container mx-auto px-4 py-5 justify-end items-end">
        <p class="text-center">&copy; 2024 Purpura Solutions</p>
    </div>
</footer>