<p>1.- Generales</p>
<p><br></p>
<p>1.1.- ROLANDO ZAPATA BELLO es una persona f&iacute;sica comprometida y respetuosa de los derechos sobre los datos personales de las personas f&iacute;sicas, reconocidos en el art&iacute;culo 16, p&aacute;rrafo II de la Constituci&oacute;n Pol&iacute;tica de los Estados Unidos Mexicanos, as&iacute; como de las disposiciones de la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares, su Reglamento y la dem&aacute;s normativa aplicable. Por lo anterior, pone a su disposici&oacute;n el presente Aviso de Privacidad, en aras de que el titular de los datos personales, se encuentre facultado a ejercitar su derecho a la autodeterminaci&oacute;n informativa.</p>
<p><br></p>
<p>1.2.- Al ingresar y utilizar la p&aacute;gina de Internet, cuya direcci&oacute;n electr&oacute;nica es <a data-fr-linked="true" href="//rolandozapata.com">rolandozapata.com</a>, en la secci&oacute;n correspondiente a &ldquo;Aviso de Privacidad&rdquo;, en adelante denominada como LA P&Aacute;GINA DE INTERNET propiedad de ROLANDO ZAPATA BELLO, y/o al vincularse con la p&aacute;gina de internet antes citada declara que est&aacute; entendiendo y aceptando los t&eacute;rminos y las condiciones contenidos en este Aviso y declara y otorga expresamente su aceptaci&oacute;n y consentimiento utilizado para tal efecto medios electr&oacute;nicos, en t&eacute;rminos de los dispuesto por el art&iacute;culo 1803 del C&oacute;digo Civil Federal.</p>
<p><br></p>
<p>1.3.- Si EL TITULAR no acepta en forma absoluta y completa los t&eacute;rminos y condiciones de este Aviso, deber&aacute; abstenerse de compartir cualquier tipo de informaci&oacute;n a ROLANDO ZAPATA BELLO por cualquier medio, incluyendo su p&aacute;gina de Internet.&nbsp;</p>
<p><br></p>
<p>1.4.- Para el caso de que EL TITULAR contin&uacute;e en el uso de LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO sea en forma total o parcial, dicha acci&oacute;n se considerar&aacute; como su absoluta y expresa aceptaci&oacute;n a los t&eacute;rminos y condiciones aqu&iacute; estipulados.</p>
<p><br></p>
<p>1.5.- La sola utilizaci&oacute;n de LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO le otorga al p&uacute;blico usuario la calidad de titular (en adelante referido como &ldquo;EL TITULAR&rdquo; o &ldquo;LOS TITULARES&rdquo;) e implica la aceptaci&oacute;n plena e incondicional, de todas y cada una de las condiciones generales y particulares incluidas en este Aviso de Privacidad en la versi&oacute;n publicada por ROLANDO ZAPATA BELLO en el momento mismo en que EL TITULAR acceda a la mencionada p&aacute;gina.</p>
<p><br></p>
<p>Las partes declaran que, al no existir error, dolo, mala fe o cualquier otro vicio de la voluntad que pudiera nulificar la validez del presente instrumento, ambas acuerdan en sujetarse al tenor de lo estipulado en los siguientes:</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>2.- Definiciones</p>
<p><br></p>
<p>2.1.- Datos personales.- Cualquier informaci&oacute;n concerniente a una persona f&iacute;sica identificada o identificable.</p>
<p><br></p>
<p>2.2.- Datos personales sensibles.- Aquellos datos personales que afecten a la esfera m&aacute;s &iacute;ntima de su TITULAR, o cuya utilizaci&oacute;n indebida pueda dar origen a discriminaci&oacute;n o conlleve un riesgo grave para &eacute;ste. En particular, se consideran sensibles aquellos que puedan revelar aspectos como origen racial o &eacute;tnico, estado de salud presente y futuro, informaci&oacute;n gen&eacute;tica, creencias religiosas, filos&oacute;ficas y morales, afiliaci&oacute;n sindical, opiniones pol&iacute;ticas, preferencia sexual.</p>
<p><br></p>
<p>2.3.- Titular.- La persona f&iacute;sica (EL TITULAR) a quien identifican o corresponden los datos personales.</p>
<p><br></p>
<p>2.4.- Responsable.- Persona f&iacute;sica (ROLANDO ZAPATA BELLO) de car&aacute;cter privado que decide sobre el tratamiento de los datos personales.</p>
<p><br></p>
<p>2.5.- Encargado.- La persona f&iacute;sica que sola o conjuntamente con otras trate datos personales por cuenta del responsable.</p>
<p><br></p>
<p>2.6.- Tratamiento.- La obtenci&oacute;n, uso (que incluye el acceso, manejo, aprovechamiento, transferencia o disposici&oacute;n de datos personales), divulgaci&oacute;n o almacenamiento de datos personales por cualquier medio.</p>
<p><br></p>
<p>2.6.1.- Transferencia.- Toda comunicaci&oacute;n de datos realizada a persona distinta del responsable o encargado del tratamiento.</p>
<p><br></p>
<p>2.6.2.- Remisi&oacute;n.- La comunicaci&oacute;n de datos personales entre el responsable y el encargado, dentro o fuera del territorio mexicano.</p>
<p><br></p>
<p>2.7.- Tercero.- La persona f&iacute;sica o moral, nacional o extranjera, distinta del titular o del responsable de los datos.</p>
<p><br></p>
<p>2.8.- Derechos ARCO.- Derechos de Acceso, Rectificaci&oacute;n, Cancelaci&oacute;n y Oposici&oacute;n.</p>
<p><br></p>
<p>2.9.- Consentimiento T&aacute;cito.- Se entender&aacute; que EL TITULAR ha consentido en el tratamiento de los datos, cuando habi&eacute;ndose puesto a su disposici&oacute;n el Aviso de Privacidad, no manifieste su oposici&oacute;n.</p>
<p><br></p>
<p>2.10.- Finalidades Primarias.- Son aquellas finalidades para las cuales se solicitan principalmente los datos personales y por lo que se da origen a la relaci&oacute;n entre ROLANDO ZAPATA BELLO y EL TITULAR.</p>
<p><br></p>
<p>2.11.- Finalidades Secundarias.- Son aquellas finalidades que no son imprescindibles para la relaci&oacute;n entre ROLANDO ZAPATA BELLO &nbsp;y EL TITULAR.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>3.- Identidad y domicilio del responsable que trata los datos personales</p>
<p><br></p>
<p>3.1.- El responsable del tratamiento de los datos personales es ROLANDO ZAPATA BELLO, quien se compromete a respetar lo establecido en el presente Aviso de Privacidad (en lo sucesivo el &ldquo;Aviso&rdquo; o el &ldquo;Aviso de Privacidad&rdquo; indistintamente), mismo que est&aacute; puesto a su disposici&oacute;n en cumplimiento de lo establecido en la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares (en lo sucesivo la &ldquo;Ley&rdquo; o &ldquo;LFPDPPP&rdquo; indistintamente) y es aplicable respecto de los datos personales de las personas f&iacute;sicas tales como candidatos, colaboradores, estrellas o distribuidores, consumidores finales o clientes, proveedores, usuarios de LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>4.- Datos personales a los que se les da tratamiento</p>
<p><br></p>
<p>4.1.- EL TITULAR reconoce y acepta que ROLANDO ZAPATA BELLO podr&aacute; tratar directamente y/o a trav&eacute;s de encargados, los siguientes datos personales, ateniendo a la relaci&oacute;n con cada TITULAR:</p>
<p><br></p>
<p>4.1.1.- TITULAR-Usuario de LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO: Generales: Nombre completo, fecha y lugar de nacimiento, edad, sexo, nacionalidad, estado civil, profesi&oacute;n, identificaci&oacute;n oficial con fotograf&iacute;a, imagen o fotograf&iacute;a, firma, domicilio (c&oacute;digo postal, estado, pa&iacute;s, ciudad o municipio, colonia, localidad, calle, n&uacute;mero exterior e interior), tel&eacute;fono fijo y/o m&oacute;vil, correo electr&oacute;nico, RFC, CURP, n&uacute;mero de seguridad social. Acad&eacute;micos: Nivel de estudios, escuela, periodo de estudios, t&iacute;tulos obtenidos, cursos de actualizaci&oacute;n y/o capacitaci&oacute;n. Familiares: Nombre, edad, escolaridad, tel&eacute;fono y profesi&oacute;n de padres, hermanos, hijos, c&oacute;nyuges. Experiencia laboral: nombre de la empresa en la que prest&oacute; sus servicios, tiempo de prestaci&oacute;n de servicios, direcci&oacute;n, tel&eacute;fono, puesto desempe&ntilde;ado, nombre de jefe inmediato. Referencias personales y referencias laborales (de las cuales, EL TITULAR asegura contar con el consentimiento para compartir los datos personales de dichos terceros): nombre completo, domicilio, tel&eacute;fono, profesi&oacute;n.</p>
<p><br></p>
<p>Documentaci&oacute;n en copia: Identificaci&oacute;n oficial con fotograf&iacute;a, acta de nacimiento, Curriculum Vitae, c&eacute;dula de RFC, c&eacute;dula de CURP, comprobante de domicilio, seguro social, comprobante de estudios, c&eacute;dula profesional, car&aacute;tula bancaria.</p>
<p><br></p>
<p>4.2.- EL TITULAR en este acto, otorga su consentimiento expreso en t&eacute;rminos del art&iacute;culo 8 de la LFPDPPP, para que ROLANDO ZAPATA BELLO, trate sus datos personales, incluidos los denominados datos patrimoniales y/o financieros, contenidos en esta cl&aacute;usula, para cumplir con las finalidades que establece el presente Aviso de Privacidad.</p>
<p><br></p>
<p>4.3.- EL TITULAR en este acto, bajo protesta de decir verdad, acepta que los datos que ha proporcionado a ROLANDO ZAPATA BELLO son veraces, actuales y correctos. Adem&aacute;s, se compromete a sacar en paz y a salvo a ROLANDO ZAPATA BELLO de cualquier demanda o reclamaci&oacute;n, derivada de los errores en los datos que le haya entregado.</p>
<p><br></p>
<p>4.4.- ROLANDO ZAPATA BELLO manifiesta que podr&aacute; obtener los datos personales de EL TITULAR mediante las denominadas fuentes de acceso p&uacute;blico, a efecto de validar y actualizar los datos de EL TITULAR, respetando en todo momento la expectativa razonable de privacidad, a que se refiere el art&iacute;culo 7 de la LFPDPPP.</p>
<p><br></p>
<p>4.5.- ROLANDO ZAPATA BELLO usar&aacute; informaci&oacute;n IP (Protocolo de Internet, por sus siglas en ingl&eacute;s Internet Protocol) para analizar cualquier tipo de amenazas a LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO as&iacute; como para recabar informaci&oacute;n demogr&aacute;fica. Sin embargo, la informaci&oacute;n IP, en ning&uacute;n caso ser&aacute; utilizada para identificar a LOS TITULARES, excepto cuando haya probabilidades de actividad fraudulenta.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>5.- Finalidades del tratamiento de los datos personales</p>
<p><br></p>
<p>5.1.- ROLANDO ZAPATA BELLO acepta y reconoce que podr&aacute; tratar los datos personales de EL TITULAR, directamente y/o a trav&eacute;s de encargados, de conformidad al tipo de relaci&oacute;n que tiene con EL TITULAR, para las siguientes finalidades primarias:</p>
<p><br></p>
<p>5.1.1.- EL TITULAR:</p>
<p><br></p>
<p>a) Contactarlo v&iacute;a telef&oacute;nica, por correo electr&oacute;nico, por redes sociales, Skype u otra forma de mensajer&iacute;a electr&oacute;nica o cualquier medio, a efecto de dar seguimiento y evaluar la experiencia de la p&aacute;gina de internet rolandozapata.com.</p>
<p>b) Para contactar a las personas que EL TITULAR haya indicado como referencias personales y/o laborales.</p>
<p>c) Para realizar los tr&aacute;mites de selecci&oacute;n y administraci&oacute;n de personal en las instituciones gubernamentales que se requiera.</p>
<p>d) Hacer intercambios de bolsas de trabajo con terceros respecto de EL TITULAR.</p>
<p>e) Conocer el estado de salud de EL TITULAR a efecto de identificar alg&uacute;n antecedente patol&oacute;gico, hereditario y traumatol&oacute;gico que pueda influir en su desempe&ntilde;o y desarrollo en la empresa y, conocer la viabilidad de que realice otras funciones.</p>
<p>5.2.- ROLANDO ZAPATA BELLO podr&aacute; tratar los datos personales de EL TITULAR para las siguientes finalidades secundarias:</p>
<p><br></p>
<p>a) Para proporcionarles comunicaciones adicionales, cambios de imagen, boletines informativos y de noticias.</p>
<p>b) Env&iacute;os masivos de mail marketing.</p>
<p>c) Para enviar felicitaciones en fechas especiales.</p>
<p>d) Para el env&iacute;o de mensajes masivos multicarrier a tel&eacute;fonos celulares, a la aplicaci&oacute;n para tel&eacute;fonos inteligentes de ROLANDO ZAPATA BELLO, a correos electr&oacute;nicos, por mensajer&iacute;a de texto y/o a trav&eacute;s de aplicaciones de mensajer&iacute;a instant&aacute;nea, de manera directa y/o a trav&eacute;s de terceros.</p>
<p>e) Para enviarles comunicaciones con fines publicitarios o mercadot&eacute;cnicos respecto de comunicados de ROLANDO ZAPATA BELLO.</p>
<p>f) Evaluar la calidad del servicio o productos ofrecidos por ROLANDO ZAPATA BELLO.</p>
<p>g) Publicar en LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO los comentarios que realices sobre comentarios del trabajo desempe&ntilde;ado como legislador.</p>
<p>h) Enviar a terceros, invitaciones en nombre de EL TITULAR a fin de que se den de alta en los servicios de la p&aacute;gina multicitada.</p>
<p>i) Para el env&iacute;o de SMS para proveer alertas/notificaciones informativas a los suscriptores de la p&aacute;gina de ROLANDO ZAPATA BELLO.</p>
<p>j) Para contactar a EL TITULAR a fin de informarle de actualizaciones de LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO y enviarle mensajes informativos y relativos a servicios, incluyendo actualizaciones de seguridad importantes.</p>
<p>5.3.- En caso de que EL TITULAR no desee que sus datos personales sean utilizados para todas o algunas de las finalidades secundarias que se establecen en el apartado 5.2., deber&aacute; enviar una solicitud especificando las finalidades secundarias para las que desea que no sean tratados sus datos personales, al siguiente correo electr&oacute;nico: ________</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>6.- Uso de &ldquo;Cookies&rdquo; y &ldquo;web beacons&rdquo;</p>
<p><br></p>
<p>6.1.- Es posible que LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO haga uso de &ldquo;cookies&rdquo; en conexi&oacute;n con ciertas caracter&iacute;sticas o funciones. Las cookies son tipos espec&iacute;ficos de informaci&oacute;n que un sitio web transmite al disco duro de la computadora de EL TITULAR con el fin de mantener los registros. Las cookies pueden servir para facilitar el uso de un sitio web, al guardar contrase&ntilde;as y preferencias mientras EL TITULAR navega en Internet. LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO no usa cookies para obtener datos de identificaci&oacute;n personal de la computadora de EL TITULAR que no se hayan enviado originalmente como parte de la cookie.</p>
<p><br></p>
<p>6.2.- Por su parte, las &ldquo;web beacons&rdquo; son im&aacute;genes insertadas en una p&aacute;gina de Internet o correo electr&oacute;nico, que puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar informaci&oacute;n sobre la direcci&oacute;n IP del usuario, duraci&oacute;n del tiempo de interacci&oacute;n en dicha p&aacute;gina y el tipo de navegador utilizado, entre otros.</p>
<p><br></p>
<p>6.3.- Aunque la mayor&iacute;a de los navegadores aceptan cookies y web beacons autom&aacute;ticamente, EL TITULAR puede configurar su navegador para que no los acepte.</p>
<p><br></p>
<p>6.4.- Para desactivar las cookies, debe seguir las siguientes instrucciones:</p>
<p><br></p>
<p>6.4.1.- En una PC: abrir el explorador de Internet, entrar al men&uacute; de &ldquo;Herramientas&rdquo;, entrar a &ldquo;Opciones de Internet&rdquo;, escoger la pesta&ntilde;a de &ldquo;Privacidad&rdquo;, mover el cursor de la Configuraci&oacute;n hacia &ldquo;Bloquear todas las Cookies&rdquo;.</p>
<p><br></p>
<p>6.4.2.- En un Mac: abrir la aplicaci&oacute;n de Internet, ir a &ldquo;Preferencias&rdquo;, escoger la opci&oacute;n de &ldquo;Seguridad&rdquo;, escoger &ldquo;Nunca&rdquo; en la opci&oacute;n de &ldquo;Aceptar Cookies&rdquo;.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>7.- Limitaciones para el acceso y divulgaci&oacute;n de los datos personales</p>
<p><br></p>
<p>7.1.- ROLANDO ZAPATA BELLO, se compromete a realizar su mejor esfuerzo para proteger la seguridad de los datos personales que EL TITULAR le est&aacute; entregando, adoptando, estableciendo y manteniendo, en la medida de sus capacidades, medidas de seguridad administrativas, legales, t&eacute;cnicas y f&iacute;sicas que permitan proteger los datos personales contra da&ntilde;o, p&eacute;rdida, alteraci&oacute;n, destrucci&oacute;n o el uso, acceso o tratamiento no autorizado. (i) utiliza redes privadas, (ii) mantenimientos programados al site donde se guarda la informaci&oacute;n (iii) se utilizan equipos firewall, (iv) equipos no-breaks, (v) restricciones de Internet en equipos de c&oacute;mputo (vi) bloqueos a trav&eacute;s de antivirus denominados &ldquo;endpoint&rdquo;, de salidas USB y de quemadores de discos compactos, en todos los equipos de su personal y colaboradores (vii) mantiene actualizados semanalmente los equipos de respaldo, (viii) cuentas de acceso personalizado al sistema a trav&eacute;s de usuarios y contrase&ntilde;as; y de los datos personales que trata, a trav&eacute;s de la celebraci&oacute;n de contratos de confidencialidad con todos los proveedores, prestadores de servicios y colaboradores.</p>
<p><br></p>
<p>7.2.- En este tenor, ROLANDO ZAPATA BELLO se obliga a tomar las medidas necesarias para garantizar que los encargados que utilice cumplan con lo establecido en el presente Aviso de Privacidad, con las obligaciones a su cargo y particularmente, con las disposiciones establecidas en el art&iacute;culo 50 del Reglamento de la LFPDPPP.</p>
<p><br></p>
<p>7.3.- Asimismo, ROLANDO ZAPATA BELLO se obliga a contratar servicios de c&oacute;mputo en la nube que realicen el tratamiento de los datos personales de LOS TITULARES, siempre que los mismos respeten las previsiones del art&iacute;culo 52 del Reglamento de la LFPDPPP.</p>
<p><br></p>
<p>7.4.- No obstante lo anterior y, en caso de que se presenten vulneraciones de seguridad ocurridas en cualquier fase del tratamiento, que afecten de forma significativa los derechos patrimoniales o morales de LOS TITULARES, esto ser&aacute; informado por correo electr&oacute;nico, de forma inmediata, por ROLANDO ZAPATA BELLO, a fin de que estos &uacute;ltimos puedan tomar las medidas correspondientes a la defensa de sus derechos, deslindando de cualquier responsabilidad a ROLANDO ZAPATA BELLO si la vulneraci&oacute;n no es imputable a &eacute;l.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>8.- Designado para tramitar las solicitudes</p>
<p><br></p>
<p>8.1.- En caso de que EL TITULAR necesite revocar su consentimiento, as&iacute; como acceder, rectificar, cancelar u oponerse al tratamiento de los datos personales que ha proporcionado, lo deber&aacute; hacer a trav&eacute;s de la persona designada por ROLANDO ZAPATA BELLO cuyos datos se describen a continuaci&oacute;n:</p>
<p><br></p>
<p>Designado: _______</p>
<p><br></p>
<p>Correo electr&oacute;nico: ________</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>9.- Medios para revocar el consentimiento</p>
<p><br></p>
<p>EL TITULAR de los datos personales podr&aacute; revocar el consentimiento que se otorga con la aceptaci&oacute;n del presente. Dicha revocaci&oacute;n del consentimiento que se otorga por medios electr&oacute;nicos se deber&aacute; de hacer observando el siguiente procedimiento, utilizando el formato que A ROLANDO ZAPATA BELLO pone a su disposici&oacute;n:</p>
<p><br></p>
<p>9.1.- Enviar un correo electr&oacute;nico en atenci&oacute;n al Designado en el punto 8-ocho del presente Aviso, mediante el cual ser&aacute;n atendidas dichas solicitudes.</p>
<p><br></p>
<p>9.2.- Enviar una solicitud o mensaje de datos al correo electr&oacute;nico antes precisado, en el que se&ntilde;ale:</p>
<p><br></p>
<p>9.2.1.- El nombre completo de EL TITULAR, domicilio y correo electr&oacute;nico para recibir la respuesta que se genere con motivo de su solicitud;</p>
<p><br></p>
<p>9.2.2.- El motivo de su solicitud;</p>
<p><br></p>
<p>9.2.3.- Los argumentos que sustenten su solicitud o petici&oacute;n;</p>
<p><br></p>
<p>9.2.4.- Documento oficial que acredite su identidad y que demuestre que es quien dice ser; y</p>
<p><br></p>
<p>9.2.5.- Fecha a partir de la cual, se hace efectiva la revocaci&oacute;n de su consentimiento.</p>
<p><br></p>
<p>9.4.- ROLANDO ZAPATA BELLO notificar&aacute; a EL TITULAR, en un plazo m&aacute;ximo de 20-veinte d&iacute;as habiles, contados desde la fecha en que se recibi&oacute; la solicitud sobre la revocaci&oacute;n del consentimiento, la resoluci&oacute;n adoptada, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los 20-veinte d&iacute;as siguientes a la fecha en que se comunica la respuesta, mediante un mensaje que contenga que ha ejecutado de todos los actos tendientes a no tratar los datos personales de EL TITULAR.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>10.- Transferencia de datos personales</p>
<p><br></p>
<p>10.1.- ROLANDO ZAPATA BELLO se obliga a no transferir o compartir los datos a que se refiere el presente Aviso, a favor de terceros, salvo en los casos en que resulte necesario para cumplir con las finalidades del presente Aviso, o bien, sean necesarios en cumplimiento de un requerimiento de autoridad.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>11.- Modificaciones</p>
<p><br></p>
<p>11.1.- Las partes acuerdan que el Aviso de Privacidad, puede ser modificado en el tiempo y forma que ROLANDO ZAPATA BELLO lo determine, atendiendo al estudio y las regulaciones que en materia de protecci&oacute;n de datos personales surjan, por lo que se obliga a mantener actualizado el presente Aviso, para su consulta en LA P&Aacute;GINA DE INTERNET DE ROLANDO ZAPATA BELLO a efecto de que, en su caso, EL TITULAR se encuentre en posibilidad de ejercer sus derechos ARCO.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>12.- Autoridad garante</p>
<p><br></p>
<p>12.1.- Si EL TITULAR considera que su derecho a la protecci&oacute;n de sus datos personales ha sido lesionado por alguna conducta u omisi&oacute;n por parte de ROLANDO ZAPATA BELLO o presume alguna violaci&oacute;n a las disposiciones previstas en la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares, su Reglamento y dem&aacute;s ordenamientos aplicables, podr&aacute; interponer su inconformidad o denuncia ante el Instituto Nacional de Transparencia, Acceso a la Informaci&oacute;n y Protecci&oacute;n de Datos Personales (INAI). Para mayor informaci&oacute;n, le sugerimos visitar su p&aacute;gina oficial de Internet <a data-fr-linked="true" href="//www.inai.org.mx">www.inai.org.mx</a>.</p>
<p><br></p>
<p>&nbsp;</p>
<p><br></p>
<p>13.- Ley aplicable y jurisdicci&oacute;n</p>
<p><br></p>
<p>13.1.- Las partes expresan que el presente aviso, se regir&aacute; por las disposiciones legales aplicables en la Rep&uacute;blica Mexicana, en especial, por lo dispuesto en la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares, su Reglamento y la dem&aacute;s normativa vinculada aplicable.</p>
<p><br></p>
<p>13.2.- Para el caso de que exista una disputa o controversia, derivada de la interpretaci&oacute;n, ejecuci&oacute;n o cumplimiento del aviso o de cualquiera de los documentos que del mismo se deriven, o que guarden relaci&oacute;n con &eacute;ste, las partes amigablemente, buscar&aacute;n llegar a un acuerdo dentro de un plazo de 30-treinta d&iacute;as habiles, contados a partir de la fecha en que surja cualquier diferencia y se notifique por escrito sobre dicho evento a la contraparte, deduciendo el proceso de mediaci&oacute;n ante el Centro de M&eacute;diaci&oacute;n del Estado de Yucat&aacute;n, llev&aacute;ndose al amparo de la Ley de Mecanismos Alternativos de Soluci&oacute;n de Controversias en el Estado de Yucat&aacute;n, vigente al momento de que se presente la controversia.</p>
<p><br></p>
<p>13.3.- En caso de que las partes no lleguen a un acuerdo, convienen en este acto en someter todas las desavenencias que deriven del presente Aviso de Privacidad o de cualquiera de los documentos que del mismo se deriven, o que guarden relaci&oacute;n con &eacute;ste o con aqu&eacute;llos, a ser resueltas de manera definitiva, someti&eacute;ndose a la competencia y leyes de las Autoridades Administrativas del Estado de Yucat&aacute;n o Tribunales de la Ciudad de M&eacute;rida, Yucat&aacute;n renunciando expresamente a cualquier fuero distinto que por razones de sus domicilios presentes o futuros pudieren corresponderles.</p>